* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#accordion {
    width: 100%;
    max-width: 40rem;
    background-color: rgb(40, 94, 156);
}

.accordion-item {
    width: 100%;
    height: auto;
}

#accordion-item-header {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    max-height: 91.422px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

#accordion-item-header:hover {
    background-color: #ccc;
}

#accordion-item-header>span:first-child {
    flex: 14;
}

#accordion-item-header>span:last-child {
    flex: 1;
    padding: 1rem;
}

object {
    width: 1.5rem;
    max-width: 1.5rem;
    height: auto;
}

/* object#close {
    background-image: url('icons/minus-solid.svg');
} */

.accordion-item-body {
  height: 0;
  max-height: 300px; 
  overflow: hidden;
  background-color: #fff;
  transition: all .3s;
}

.accordion-item-body.open {
    height: 300px;
}