* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#accordions {
    width: 100%;
    max-width: 40rem;
    background-color: rgb(40, 94, 156);
}

.accordion {
    width: 100%;
    height: auto;
}

.accordion-item {
    width: 100%;
    height: auto;
}

.accordion-header {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    max-height: 91.422px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

.accordion-header:hover {
    background-color: #ccc;
}

.accordion-heading {
    flex: 14;
}

.accordion-header>span {
    flex: 1;
    padding: 1rem;
}

.accordion-icon {
    width: 1.5rem;
    max-width: 1.5rem;
    height: auto;
}


/* .accordion-open {
    display: block;
} */

.accordion-close {
    display: block;
    background-image: url('icons/minus-solid.svg');
}

.accordion-body {
    display: flex;
    flex-direction: row;
    height: 0;
    max-height: 300px; 
    overflow: hidden;
    background-color: #fff;
    transition: all .3s;
}

.accordion-body.is-open {
    height: auto;
    padding: 1rem 0 2rem 0;
}

.accordion-body > .img {
    flex: 1;
    padding: 2rem;
    background-image: url('icons/plus-solid.svg');
} 

.accordion-body > .img.close {
    background-image: url('icons/minus-solid');
}
.accordion-body > .description {
    flex: 2;
    padding: 2rem 2rem 2rem;
}
